<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{code}} {{error_name}}</title>
</head>
<body>
<h1> {{code}} {{error_name.upper()}}</h1>
<hr>
<br>
<pre>
         ____________________________________________________
        (                                                    )
        (  Opps! Sorry! There's a problem with your request  )
        (____________________________________________________)
              \
               \
                \
                 \       ___
                      .-"-~-"-.
                     /.-"-.-"-.\
                     ||((o|o))||
                     )\__/V\__/(
                    / ~ -...- ~ \
                   |\` ~. ~ .~ `/|
                () | `~ - ^ - ~` |
            () //  | ;  '  :  .  |
           ()\\/_() \ . : '  ; '/
          ___/ /_____'.   ; ' .'____
                _   ^ `uu---uu`    /\
         _____________^ _________^_\/
                      \ \
                      //\\()
                    ()/  ()
                     ()
</pre>
<p><a href="/">BACK TO HOMEPAGE</a></p>
</body>
</html>