<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{code}} {{error_name}}</title>
</head>
<body>
<h1> {{code}} {{error_name.upper()}}</h1>
<hr>
<br>
<pre>
         ___________________________________________________
        (                                                   )
        (   Opps! Sorry! There's an internal server error.  )
        (   Please try again later                          )
        (___________________________________________________)
              \
               \
                \
                 \            _,..._,m,
                  \        ,/'      '"";
                   \      /             ".
                    \   ,'mmmMMMMmm.      \
                      _/-"^^^^^"""%#%mm,   ;
                ,m,_,'              "###)  ;,
               (###%                 \#/  ;##mm.
                ^#/  __        ___    ;  (######)
                 ;  //.\\     //.\\   ;   \####/
                _; (#\"//     \\"/#)  ;  ,/
               @##\ \##/   =   `"=" ,;mm/
               `\##>.____,...,____,<####@
                                     ""'
</pre>
<p><a href="/">BACK TO HOMEPAGE</a></p>
</body>
</html>