{% extends "base.html" %}

{% block heading %}

<h1 style="padding-bottom:25px;padding-left:50px">Monthly money calculation</h1>
<div style="text-align:right;padding-right:40px"><p class="badge" style="background-color:green;font-size:110%">
    Version {{ version }}</p></div>

{% endblock %}

{% block content %}

<!------------------------ links ----------------------->
<div style="margin-bottom: 30px;">
    <div class="btn-group">
        <button class="btn btn-warning" onclick="window.location='/admin'">ADMIN</button>
        <button class="btn btn-warning" onclick="window.location='/newest'">CURRENT MONTH</button>
    </div>
</div>


{% if months|length > 0 %}
<!------------------------list all months------------------->
<div class="list-group">
    {% for m in months %}
    <a class="list-group-item" href="/month/{{m.key.urlsafe()}}"
        {% if m.time_end == None %} style="background: #D9EDF7" {% endif %}>
        {{m.to_string_long()}}
    </a>
    {% endfor %}
</div>
<br>

<!--------------------------- new month ------------------------->
<div class="alert alert-success" style="padding:30px 20px;font-size: 120%;text-align: left">
    <button class="btn btn-success" style="text-align:right" onclick="window.location='/newmonth'">NEW MONTH</button>
    <span style="font-size:120%; padding-left: 50px; padding-right: 5px">Click this button and fill the form to create
        new month</span>
</div>

<!------------------first new month------------------->
{% else %}
<form method="get" action="/newmonth" class="alert alert-success" style="width:50%">
    <h4>There are currently no data.</h4>
    <h4> Click below button to add new month</h4>
    <button class="btn btn-success" style="margin-top:15px" >New month</button>
</form>
{% endif %}

{% endblock %}