<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{code}} {{error_name}}</title>
</head>
<body>
<h1> {{code}} {{error_name.upper()}}</h1>
<hr>
<br>
<pre>
         ___________________________________
        (                                   )
        (   Opps! Sorry! There's an error.  )
        (   Please try again later          )
        (___________________________________)
              \
               \
                \              __        .-.
                           .-"` .`'.    /\\|
                   _(\-/)_" ,  .   ,\  /\\\/
                  {(#b^d#)} .   ./,  |/\\\/
                  `-.(Y).-`  ,  |  , |\.-`
                       /~/,_/~~~\,__.-`
                      ////~    // ~\\
                    ==`==`   ==`   ==`

</pre>
<p><a href="/">BACK TO HOMEPAGE</a></p>
</body>
</html>